---
import MainLayout from "../layouts/MainLayout.astro";
import Footer from "../components/Footer.astro";
---


<MainLayout title="DinoPedia - Periodos">
    <section class="hero">
        <div class="hero__cont">
            <img src="/ages/ages-hero.png" alt="" class="hero__img">
            <div class="hero__text">
                <h2 class="hero__title">Introducción al Mesozoico</h2>
                <p class="hero__desc">El <span>Mesozoico</span>, también conocido como la Era de los Reptiles, abarcó aproximadamente <span>186 millones de años</span>, desde hace <span>252 hasta 66 millones de años</span>. Fue una era de importantes transformaciones geológicas y biológicas, y es especialmente recordada por el auge y la diversidad de los dinosaurios. Se divide en tres períodos principales:</p>
            </div>
        </div>
    </section>
    <main class="ages">
        <div class="ages__cont">
            <section id="triasico" class="ages__section">
                <div class="ages__section__content">
                    <img src="/ages/articles/triasico/triasico-header.png" alt="" class="ages__section__img">
                    <h2  class="ages__section__title">Triásico (252 a 201 millones de años)</h2>
                    <p class="ages__section__desc">El Triásico fue un período de <span>recuperación y reinicio</span>. Tras la extinción masiva más devastadora del planeta (al final del Pérmico), la vida tuvo que reinventarse desde cero. El mundo estaba dominado por <span>un solo supercontinente: Pangea</span>, lo que generaba climas extremos y paisajes áridos. Aquí nacieron los primeros dinosaurios, pequeños y discretos, pero destinados a cambiar el mundo.</p>
                    <div class="ages__grid">
                        <article class="ages__article">
                            <div class="ages__article__img"><img src="/ages/articles/triasico/contexto-article.webp" alt=""></div>
                            <div class="ages__article__text">
                                <h3 class="ages__article__title"><img src="/ages/articles/triasico/contexto.png" alt="">Contexto general</h3>
                                <ul class="ages__article__list">
                                    <li>Comienza tras la extinción masiva del Pérmico-Triásico, la más grande en la historia de la Tierra (el 90% de las especies marinas y el 70% de las terrestres desaparecieron).</li>
                                    <li>El supercontinente <span>Pangea</span> dominaba el planeta, con un clima generalmente cálido, seco y desértico en el interior.</li>
                                </ul>
                            </div>
                        </article>
                        <article class="ages__article">
                            <div class="ages__article__img"><img src="/ages/articles/triasico/vida-article.webp" alt=""></div>
                            <div class="ages__article__text">
                                <h3 class="ages__article__title"><img src="/ages/articles/triasico/vida.png" alt="">Vida y evolución</h3>
                                <ul class="ages__article__list">
                                    <li>Surgen los primeros <span>dinosaurios</span>, pequeños y ligeros, como Eoraptor o Herrerasaurus.</li>
                                    <li>Evolucionan los primeros <span>pterosaurios</span>, reptiles voladores.</li>
                                    <li>Aparecen <span>mamíferos primitivos</span>, como Morganucodon.</li>
                                    <li>Los océanos se repueblan con ictiosaurios y notosaurios.</li>
                                </ul>
                            </div>
                        </article>
                        <article class="ages__article">
                            <div class="ages__article__img"><img src="/ages/articles/triasico/flora-article.webp" alt=""></div>
                            <div class="ages__article__text">
                                <h3 class="ages__article__title"><img src="/ages/articles/triasico/flora.png" alt="">Flora</h3>
                                <ul class="ages__article__list">
                                    <li>Vegetación dominada por <span>coníferas</span>, <span>cicadas</span>, <span>helechos</span> y <span>ginkgos</span>.</li>
                                    <li>No existían todavía las flores ni el pasto.</li>
                                </ul>
                            </div>
                        </article>
                        <article class="ages__article">
                            <div class="ages__article__img"><img src="/ages/articles/triasico/datos-article.webp" alt=""></div>
                            <div class="ages__article__text">
                                <h3 class="ages__article__title"><img src="/ages/articles/triasico/datos.png" alt="">Datos clave</h3>
                                <ul class="ages__article__list">
                                    <li>Inicio de la <span>diversificación</span> de los arcosaurios, grupo que incluye a dinosaurios, cocodrilos y aves.</li>
                                    <li>Finaliza con una extinción menor, pero significativa, que permitió a los dinosaurios convertirse en los dominantes del siguiente período.</li>
                                </ul>
                            </div>
                        </article>
                    </div>
                </div>
            </section>
            <section id="jurasico" class="ages__section">
                <div class="ages__section__content">
                    <img src="/ages/articles/jurasico/jurasico-header.png" alt="" class="ages__section__img">
                    <h2  class="ages__section__title">Jurásico (201 a 145 millones de años)</h2>
                    <p class="ages__section__desc">El Jurásico fue el <span>auge de los gigantes</span>. A medida que Pangea comenzaba a fragmentarse, los ecosistemas se volvieron más diversos y húmedos, lo que permitió que <span>los dinosaurios alcanzaran tamaños colosales</span>. Los cielos se poblaron de pterosaurios, los mares de reptiles nadadores, y en tierra firme los herbívoros dominaban vastas llanuras boscosas.</p>
                    <div class="ages__grid">
                        <article class="ages__article">
                            <div class="ages__article__img"><img src="/ages/articles/jurasico/contexto-article.webp" alt=""></div>
                            <div class="ages__article__text">
                                <h3 class="ages__article__title"><img src="/ages/articles/triasico/contexto.png" alt="">Contexto general</h3>
                                <ul class="ages__article__list">
                                    <li>Pangea se fragmenta lentamente en <span>Laurasia</span> y <span>Gondwana</span>, lo que genera océanos más amplios y un clima más cálido y húmedo..</li>
                                    <li>Aumentan los bosques y las zonas tropicales, facilitando la expansión de los herbívoros gigantes.</li>
                                </ul>
                            </div>
                        </article>
                        <article class="ages__article">
                            <div class="ages__article__img"><img src="/ages/articles/jurasico/vida-article.webp" alt=""></div>
                            <div class="ages__article__text">
                                <h3 class="ages__article__title"><img src="/ages/articles/triasico/vida.png" alt="">Vida y evolución</h3>
                                <ul class="ages__article__list">
                                    <li>Aparecen los primeros <span>dinosaurios gigantes</span>, como Brachiosaurus, Diplodocus, Apatosaurus.</li>
                                    <li>Abundan los <span>dinosaurios blindados</span> como Stegosaurus y los grandes <span>depredadores</span> como Allosaurus.</li>
                                    <li>Evolucionan las primeras <span>aves primitivas</span>, como Archaeopteryx, con plumas y capacidad de planear.</li>
                                    <li>Los océanos son dominados por <span>plesiosaurios</span> y <span>ictiosaurios</span>.</li>
                                </ul>
                            </div>
                        </article>
                        <article class="ages__article">
                            <div class="ages__article__img"><img src="/ages/articles/jurasico/flora-article.webp" alt=""></div>
                            <div class="ages__article__text">
                                <h3 class="ages__article__title"><img src="/ages/articles/triasico/flora.png" alt="">Flora</h3>
                                <ul class="ages__article__list">
                                    <li>Dominada por <span>coníferas</span>, <span>helechos arborescentes</span>, <span>ginkgos</span> y <span>cicadas</span>.</li>
                                    <li>Comienzan a desarrollarse nuevos ecosistemas forestales.</li>
                                </ul>
                            </div>
                        </article>
                        <article class="ages__article">
                            <div class="ages__article__img"><img src="/ages/articles/jurasico/datos-article.webp" alt=""></div>
                            <div class="ages__article__text">
                                <h3 class="ages__article__title"><img src="/ages/articles/triasico/datos.png" alt="">Datos clave</h3>
                                <ul class="ages__article__list">
                                    <li>Aumento de la diversidad de especies.</li>
                                    <li>Aparecen estrategias de defensa como placas, púas y colas armadas.</li>
                                </ul>
                            </div>
                        </article>
                    </div>
                </div>
            </section>
             <section id="cretacico" class="ages__section">
                <div class="ages__section__content">
                    <img src="/ages/articles/cretacico/cretacico-header.png" alt="" class="ages__section__img">
                    <h2  class="ages__section__title">Cretácico (hace 145 a 66 millones de años)</h2>
                    <p class="ages__section__desc">El Cretácico marcó <span>el clímax y el final</span> del reinado de los dinosaurios. Fue un período de gran innovación biológica: aparecieron las <span>primeras flores</span>, las <span>aves modernas</span> y muchos de los dinosaurios más famosos y complejos. Sin embargo, esta era dorada terminó de forma abrupta con un cataclismo planetario que cambió el curso de la vida en la Tierra.</p>
                    <div class="ages__grid">
                        <article class="ages__article">
                            <div class="ages__article__img"><img src="/ages/articles/cretacico/contexto-article.webp" alt=""></div>
                            <div class="ages__article__text">
                                <h3 class="ages__article__title"><img src="/ages/articles/triasico/contexto.png" alt="">Contexto general</h3>
                                <ul class="ages__article__list">
                                    <li>Se forman los continentes con formas más parecidas a las actuales.</li>
                                    <li>Clima cálido, aunque con mayor diversidad regional.</li>
                                    <li>Alto nivel del mar: muchos mares interiores dividen continentes.</li>
                                </ul>
                            </div>
                        </article>
                        <article class="ages__article">
                            <div class="ages__article__img"><img src="/ages/articles/cretacico/vida-article.webp" alt=""></div>
                            <div class="ages__article__text">
                                <h3 class="ages__article__title"><img src="/ages/articles/triasico/vida.png" alt="">Vida y evolución</h3>
                                <ul class="ages__article__list">
                                    <li>Gran diversificación de <span>dinosaurios</span>: aparecen Tyrannosaurus rex, Velociraptor, Triceratops, Ankylosaurus, Spinosaurus.</li>
                                    <li>Evolución de <span>dinosaurios con plumas</span> y aves modernas.</li>
                                    <li>Aparecen más <span>mamíferos</span>, aunque siguen siendo pequeños.</li>
                                    <li>Gran variedad de <span>reptiles marinos</span> como Mosasaurus y Elasmosaurus.</li>
                                    <li>El ecosistema se vuelve más complejo y especializado.</li>
                                </ul>
                            </div>
                        </article>
                        <article class="ages__article">
                            <div class="ages__article__img"><img src="/ages/articles/cretacico/flora-article.webp" alt=""></div>
                            <div class="ages__article__text">
                                <h3 class="ages__article__title"><img src="/ages/articles/triasico/flora.png" alt="">Flora</h3>
                                <ul class="ages__article__list">
                                    <li>Evolución de las primeras <span>plantas con flores (angiospermas)</span>.</li>
                                    <li>Surgen los primeros <span>árboles frutales</span> y el <span>polen moderno</span>.</li>
                                    <li>Esto trae nuevas interacciones entre plantas, insectos y dinosaurios herbívoros.</li>
                                </ul>
                            </div>
                        </article>
                        <article class="ages__article">
                            <div class="ages__article__img"><img src="/ages/articles/cretacico/final-article.webp" alt=""></div>
                            <div class="ages__article__text">
                                <h3 class="ages__article__title"><img src="/ages/articles/triasico/datos.png" alt="">Final del período</h3>
                                <ul class="ages__article__list">
                                    <li><span>Impacto de un asteroide</span> en lo que hoy es Yucatán (cráter de Chicxulub).</li>
                                    <li>Causó incendios, tsunamis, un "invierno nuclear" y finalmente una <span>extinción masiva</span> que eliminó al 75% de las especies.</li>
                                    <li>Solo sobrevivieron algunos grupos: <span>aves</span>, <span>mamíferos pequeños</span>, <span>anfibios</span>, <span>cocodrilos</span>, <span>insectos</span> y <span>plantas</span>.</li>
                                </ul>
                            </div>
                        </article>
                    </div>
                </div>
            </section>
        </div>
    </main>
    <section class="end">
        <article class="end__article">
            <div class="end__img__cont"><img src="/ages/ages-footer.webp" alt="" class="end__img"></div>
            <div class="end__text">
                <h2 class="end__title">Cierre y legado</h2>
                <p class="end__desc">El Mesozoico terminó con una catástrofe global, pero también dejó un legado inmenso: los dinosaurios evolucionaron a aves, los mamíferos tomaron su lugar dominante, y la Tierra entró en una nueva era: el <span>Cenozoico</span>, la era de los mamíferos.</p>
            </div>
        </article>
    </section>
    </Footer>
</MainLayout>


<style>
    .hero {
        background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 1)),url('/ages/ages-bg.jpg') no-repeat center center;
        background-size: cover;
        min-height: 100svh;
        padding-top: 74.39px;
        display: flex;
        align-items: center;
        justify-content: center;
        .hero__cont {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 90%;
            max-width: 1200px;
            padding: 5rem 0;
            .hero__text {
                color: var(--white);
            }
            .hero__title {
                font-size: 2.4rem;
                margin:1rem 0;
                text-align: center;
                animation: fadeIn 1s ease-in-out forwards;
                opacity: 0;
                &:after {
					content: '';
					display: block;
					width: 100px;
					height: 4px;
					background-color: var(--light-grey);
					margin: 0.5rem auto;
					border-radius: 2px;
				}
            }
            .hero__desc {
                line-height: 1.6;
                max-width: 50ch;
                font-size: 1.1rem;
                animation: fadeIn 1s ease-in-out .2s forwards;
                opacity: 0;
                span {
                    color: var(--white);
                    font-weight: bold;
                }
            }
            .hero__img {
                width: 100%;
                height: auto;
                max-width: 24rem;
                border-radius: 8px;
                box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
                animation: fadeIn 1s ease-in-out forwards;
                opacity: 0;
            }
        }
    }

    @media (width > 768px) {
        .hero {
            .hero__cont {
            flex-direction: row;
            gap: 5rem;
            .hero__img {
                max-width: 26rem;
            }
            .hero__title {
                font-size: 3rem;
                text-align: left;
                margin: 0;
                margin-bottom: 1.5rem;
            }
            .hero__text {
                max-width: 50ch;
            }
        }
        }
    }

    .ages {
        background:var(--secondary-dark);
        background-size: 30rem;
        color: var(--white);
        display: flex;
        align-items: center;
        flex-direction: column;
        .ages__cont {
            width: 100%;
            .ages__section {
                padding: 3rem 0;
                border-bottom: 4px solid var(--light-grey);
                &:nth-child(2) {
                    background-color: var(--primary-dark);
                    .ages__article {
                        background-color: var(--primary-hover);
                    }
                    .ages__section__img {
                        margin-bottom:1rem;
                    }
                }
                &:nth-child(3) {
                    background-color: var(--dark-green);
                    .ages__article {
                        background-color: var(--green);
                    }
                }
                .ages__section__img {
                    width: 9rem;
                    margin: 0 auto;
                }
                .ages__section__content {
                    max-width: 1200px;
                    width: 90%;
                    margin: 0 auto;
                }
                .ages__section__title {
                    font-size: 2rem;
                    margin-bottom: 2rem;
                    text-align: center;
                    &:after {
                        content: '';
                        display: block;
                        width: 80px;
                        height: 4px;
                        background-color: var(--light-grey);
                        margin: 0.5rem auto;
                        border-radius: 2px;
                    }
                }
                .ages__section__desc {
                    font-size: 1.1rem;
                    line-height: 1.6;
                    max-width: 50ch;
                    margin: 0 auto;
                    margin-bottom: 2rem;
                    span {
                        color: var(--white);
                        font-weight: bold;
                    }
                }
                .ages__grid {
                    display: grid;
                    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
                    gap: 1.5rem;
                    justify-items: center;
                }
                .ages__article {
                    background-color: var(--secondary-hover);
                    border-radius: 8px;
                    max-width: 400px;
                    max-height: 1000px;
                    .ages__article__title {
                        font-size: 1.5rem;
                        margin-bottom: 0.5rem;
                        display: flex;
                        align-items: center;
                        gap: 0.5rem;
                        img {
                            width: 24px;
                            height: auto;
                            vertical-align: middle;
                        }
                    }
                    .ages__article__text {
                        padding: 1.5rem;
                    }
                    .ages__article__img {
                        height: 250px;
                        border-radius: 8px 8px 0 0;
                        width: 100%;
                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                            border-radius: 8px 8px 0 0;
                        }
                    }
                    .ages__article__list {
                        list-style-type: disc;
                        padding-left: 1.5rem;
                        max-width: 50ch;
                        li {
                            margin-bottom: 0.5rem;
                            span {
                                color: var(--white);
                                font-weight: bold;
                            }
                        }
                    }
                }
            }
        }
    }
    
    .end {
        background-color: var(--black);
        color: var(--white);
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 3rem;
        .end__article {
            display: flex;
            flex-direction: column-reverse;
            align-items: center;
            max-width: 500px;
            background-color: var(--light-black);
        }
        .end__title {
            margin-bottom: 2rem;
            font-size: 2rem;
        }
        .end__desc {
            max-width: 50ch;
            margin: 0 auto;
            margin-bottom: 2rem;
            line-height: 1.6;
            span {
                font-weight: bold;
            }
        }
        .end__text {
            padding: 1.5rem;
        }
        .end__img__cont {
            width: 100%;
            height: 400px;
            .end__img {
                width: 100%;
                object-fit: cover;
                height: 100%;
            }
        }
        
           
    }

    @media (width > 768px) {
        .ages {
            .ages__cont {
                .ages__section {
                    &:nth-child(2) {
                        .ages__article {
                            &:hover {
                                box-shadow: 0 0px 20px var(--primary-color-glow);
                            }
                            &:nth-child(1) {
                                grid-column: 2 / 4;
                                .ages__article__img {
                                    max-height: 800px;
                                }
                            }
                            &:nth-child(2) {
        
                                grid-column: 1 / 2;
                                grid-row: 1 / 3;
                                flex-direction: column;
                            }
                            &:nth-child(3) {
                                grid-column: 2 / 4;
                                grid-row: 2 / 3;
                                flex-direction: row-reverse;
                                max-height: 360px;
                            }
                            &:nth-child(4) {
                                grid-column: 1 / 4;
                                grid-row: 3 / 4;
                            }
                        }
                    }
                    &:nth-child(3) {
                        .ages__article {
                            &:hover {
                                box-shadow: 0 0px 20px var(--green);
                            }
                        }
                    }
                    .ages__grid {
                        grid-template-columns: repeat(3, 1fr);
                    }
                    .ages__section__desc {
                        max-width: 60ch;
                    }
                    .ages__article {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        transition: all 0.3s ease;
                        cursor: pointer;
                        max-width: unset;
                        &:hover {
                            box-shadow: 0 0px 20px var(--secondary-color-glow);
                            transform: scale(1.05);

                        }
                        &:hover .ages__article__img {
                            filter: brightness(0.8);
                        }
                        &:nth-child(1) {
                            grid-column: 1 / 3;
                        }
                        &:nth-child(2) {
                            flex-direction: column;
                            grid-column: 3 / 4;
                            grid-row: 1 / 3;
                            .ages__article__img {
                                border-radius: 8px 8px 0 0;
                                img {
                                    border-radius: 8px 8px 0 0;
                                }
                            }
                        }
                        &:nth-child(3) {
                            flex-direction: row-reverse;
                            grid-column: 1 / 3;
                            grid-row: 2 / 3;
                            .ages__article__img {
                                border-radius: 0 8px 8px 0;
                                img {
                                    border-radius: 0 8px 8px 0;
                                }
                            }
                        }
                        &:nth-child(4) {
                            flex-direction: row-reverse;
                            grid-column: 1 / 4;
                            grid-row: 3 / 4;
                            .ages__article__img {
                                border-radius: 0 8px 8px 0;
                                img {
                                    border-radius: 0 8px 8px 0;
                                }
                            }
                        }
                        .ages__article__img {
                            border-radius: 8px 0 0 8px;
                            height: 100%;
                            transition: filter .8s ease;
                            align-self: stretch;
                            img {
                                border-radius: 8px 0 0 8px;
                            }
                        }
                    }
                }
            }
        }
        .end {
        .end__article {
            flex-direction: row;
            max-width: 1200px;
        }
    }
    }
    
</style>