<section class="hero">
    <article class="hero__article">
        <img src="/dinosaurio-hero.png" alt="" class="hero__img">
        <div class="hero__text">
            <h1 class="hero__title">Sumérgete en el increíble mundo de los <span>Dinosaurios</span>!</h1>
            <p class="hero__desc">Descubre la historia y la diversidad de los dinosaurios en esta emocionante aventura de exploración.</p>
			<div class="hero__btn__cont">
				<a href="/contacto" class="hero__btn"><img src="/hero-message.png" alt="">Déjanos tu mensaje</a>
			</div>
        </div>
    </article>
</section>

<style>
    .hero {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		min-height: 100svh;
		background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),url("../../public/hero.webp") no-repeat center center/cover;
		padding-top: 110.25px;
		z-index: 1;
		padding-bottom: 5rem;
		.hero__article {
			max-width: 90%;
			display: flex;
			flex-direction: column;
			align-items: center;
			.hero__img {
				width: 100%;
				max-width: 18rem;
				height: auto;
				border-radius: 1rem;
				margin-bottom: 1.5rem;
				opacity: 0;
				animation: fadeIn 1s ease-in-out forwards; 
			}
			.hero__title {
				font-size: 2.6rem;
				color: var(--white);
				text-align: center;
				margin-bottom: 1rem;
				line-height: 1.3;
				text-wrap: pretty;
				margin-bottom: .5rem;
				opacity: 0;
				animation: fadeIn 1s ease-in-out .2s forwards;
				font-weight: 500;
				max-width: 40ch;
				span {
					color: var(--primary-color);
					letter-spacing: 2px;
					text-shadow: 0 0 10px var(--primary-color-glow);
				}
			}
			.hero__desc {
				font-size: 1.2rem;
				color: var(--light-grey);
				text-align: center;
				margin: 0 auto;
				opacity: 0;
				animation: fadeIn 1s ease-in-out .4s forwards;
				max-width: 40ch;
			}
			.hero__text {
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: center;
			}
			.hero__btn {
				display: flex;
				padding: 0.6rem 1rem;
				align-items: center;
				background-color: var(--primary-color);
				color: var(--white);
				text-decoration: none;
				border-radius: 0.5rem;
				font-weight: 600;
				transition: background-color 0.3s ease;
				margin-top: 1.5rem;
				font-size: 1.1rem;
				gap: 1rem;
				box-shadow: 0 6px 0px var(--primary-hover);
				transition: all 0.2s ease;
				
				img {
					width: 2.5rem;
				}
				&:hover {
					transform: translateY(6px);
					box-shadow: 0 0px 0px var(--primary-hover);
					background-color: var(--primary-hover);
				}
			}
			.hero__btn__cont {
				opacity: 0;
				animation: fadeIn 1s ease-in-out .6s forwards;
			}
		}
	}

	/* Media Queries */

	@media (width > 480px) {
		.hero {
			.hero__article {
				.hero__img {
					max-width: 25rem;
				}
				.hero__title {
					font-size: 3rem;
				}
			}
		}
	}
	@media (width > 768px) {
		.hero {
			.hero__article {
				flex-direction: row;
				column-gap: 3rem;
				justify-content: center;
				.hero__img {
					max-width: 28rem;
				}
				.hero__text {
					width: 50%;
					align-items: flex-start;
				}
				.hero__btn {
					padding: .6rem 2rem;
				}
				.hero__desc {
					text-align: left;
					max-width: unset;
				}
				.hero__title {
					text-align: left;
					
				}
			}
			
		}
	}
</style>