---
const { title } = Astro.props;
import Navbar from "../components/Navbar.astro";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Londrina+Solid:wght@100;300;400;900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">  
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
        <script src="https://kit.fontawesome.com/f72612a77d.js" crossorigin="anonymous"></script>
		<title>{title}</title>
	</head>
	<body>
        <Navbar />
		<slot>
	</body>

</html>

<style is:global>
    :root {
        --primary-font: "Rubik", sans-serif;
        --secondary-font: "Londrina Solid", sans-serif;
        --primary-color: oklch(0.6457 0.1006 50.07);
        --primary-color-glow: oklch(0.6457 0.1006 50.07 / 59.29%);
        --primary-hover:oklch(0.5609 0.099 49.4);
        --secondary-color: oklch(0.5104 0.1269 13.75);
        --secondary-hover: oklch(0.4303 0.1263 13.75);
        --terciary-color: oklch(0.6677 0.0893 235.62);
        --terciary-hover: oklch(0.549 0.0893 235.62);
        --green: oklch(0.6291 0.1404 153.18);
        --dark-green: oklch(0.55 0.1404 153.18);
        --light-grey: oklch(0.8694 0 101.12);
        --dark-grey:oklch(0.8012 0 101.12);
        --light-black: oklch(0.1929 0 32.32);
        --black:oklch(0.1543 0 32.32);
        --white:oklch(0.9674 0 101.12);
    }
    *,
    *::before,
    *::after {
        box-sizing: border-box;
    }
    * {
        margin: 0;
        padding: 0;
    }
    @media (prefers-reduced-motion: no-preference) {
        html {
            interpolate-size: allow-keywords;
        }
    }
    body {
        line-height: 1.5;
        -webkit-font-smoothing: antialiased;
        font-family: var(--primary-font);
    }

    img,
    picture,
    video,
    canvas,
    svg {
        display: block;
        max-width: 100%;
    }


    input,
    button,
    textarea,
    select {
        font: inherit;
    }
    ul {
        list-style: none;
    }
    a {
        color: inherit;
        text-decoration: none;
    }


    p,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        overflow-wrap: break-word;
    }

    p {
        text-wrap: pretty;
    }
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        text-wrap: balance;
        font-family: var(--secondary-font);
        font-weight: 500;
    }
    #root,
    #__next {
        isolation: isolate;
    }
</style>
